@using System.Web.Mvc.Html;
@{
	ViewBag.Title = "Index";
}

<h2>It's time for a quiz!</h2>
<h3>You should only be here if you have completed the activities as the questions will be focused around them.</h3>
<br />


<h1>Quiz</h1>

	@using (Html.BeginForm("Results", "Quiz"))
	{
		<h3>Question One:</h3>
		<h4>What makes a semantic element semantic?</h4>
		@Html.RadioButton("Answer1", "A") <span>The name says what it is</span><br />
		@Html.RadioButton("Answer1", "B") <span>The name does not say what it is</span>
		<br />
		<h3>Question Two:</h3> 
		<h4>Which of the following is a semantic element?</h4>
		@Html.RadioButton("Answer2", "A") <span>Div</span><br />
		@Html.RadioButton("Answer2", "B") <span>Table</span><br />
		@Html.RadioButton("Answer2", "C") <span>Span</span>
		<br />
		<h3>Question Three:</h3>
		<h4>Was Autocomplete added as a Input Attribute in Html5?</h4>
		@Html.RadioButton("Answer3", "A") <span>Yes</span><br />
		@Html.RadioButton("Answer3", "B") <span>No</span>
		<br />
		<br />
		<input type="submit" value="Submit" />
	}

