@using System.Web.Mvc.Html;
@{
	ViewBag.Title = "Index";
}

<h2>It's time for a quiz!</h2>
<h3>You should only be here if you have completed the activities as the questions will be focused around them.</h3>
<br />


<h1>Quiz</h1>

	@using (Html.BeginForm("Results", "Quiz"))
	{
		<h3>Question One:</h3>
		<h4>What makes a semantic element semantic?</h4>
		@Html.RadioButton("Answer1", "A") <span>The name says what it is</span><br />
		@Html.RadioButton("Answer1", "B") <span>The name does not say what it is</span>
		<br />
		<h3>Question Two:</h3> 
		<h4>Which of the following is a semantic element?</h4>
		@Html.RadioButton("Answer2", "A") <span>Div</span><br />
		@Html.RadioButton("Answer2", "B") <span>Table</span><br />
		@Html.RadioButton("Answer2", "C") <span>Span</span>
		<br />
		<h3>Question Three:</h3>
		<h4>Was Autocomplete added as a Input Attribute in Html5?</h4>
		@Html.RadioButton("Answer3", "A") <span>Yes</span><br />
		@Html.RadioButton("Answer3", "B") <span>No</span>
		<br />
		<h3>Question Four:</h3>
		<h4>The ________ attribute specifies that the input field should automatically get focus when the page loads.</h4>
		@Html.RadioButton("Answer4", "A") <span>ZoneIn</span><br />
		@Html.RadioButton("Answer4", "B") <span>FocusAuto</span><br />
		@Html.RadioButton("Answer4", "C") <span>Autofocus</span>
		<br />
		<h3>Question Five:</h3>
		<h4>Which definition best fits the Web Form Structure element: number?</h4>
		@Html.RadioButton("Answer5", "A") <span>This accepts only a numerical value</span><br />
		@Html.RadioButton("Answer5", "B") <span>This accepts any numerical and/or alphabetical value</span><br />
		@Html.RadioButton("Answer5", "C") <span>This accepts only a alphabetical value</span>
		<br />
		<h3>Question Six:</h3>
		<h4>With the URL element, which of the following is the best answer for acceptable formatting?</h4>
		@Html.RadioButton("Answer6", "A") <span> http://example.com</span><br />
		@Html.RadioButton("Answer6", "B") <span> http://www.example.com</span><br />
		@Html.RadioButton("Answer6", "C") <span> BOTH of the above</span>
		<br />
		<br />
        <input type="hidden" value="@User.Identity.Name" name="userEmail"/>
		<input type="submit" value="Submit" />
	}

