
@{
	ViewBag.Title = "Results";
}

<h2>Results</h2>
<p>Question One: </p>
<li>You selected @ViewData["Answer1"]</li>
<img src="@ViewData["Answer1Result"]" width="50" height="50" style="margin:5px" />
<p>The correct answer was: <b>A</b>, The name says what it is</p>
<br />
<p>Question Two: </p>
<li>You selected @ViewData["Answer2"]</li>
<img src="@ViewData["Answer2Result"]" width="50" height="50" style="margin:5px" />
<p>The correct answer was: <b>B</b>, Table</p>
<br />
<p>Question Three: </p>
<li>You selected @ViewData["Answer3"]</li>
<img src="@ViewData["Answer3Result"]" width="50" height="50" style="margin:5px" />
<p>The correct answer was: <b>A</b>, Yes</p>
<br />
<p>Question Four: </p>
<li>You selected @ViewData["Answer4"]</li>
<img src="@ViewData["Answer4Result"]" width="50" height="50" style="margin:5px" />
<p>The correct answer was: <b>C</b>, AutoFocus</p>
<br />
<p>Question Five: </p>
<li>You selected @ViewData["Answer5"]</li>
<img src="@ViewData["Answer5Result"]" width="50" height="50" style="margin:5px" />
<p>The correct answer was: <b>A</b>, This accepts only a numerical value</p>
<br />
<p>Question Six: </p>
<li>You selected @ViewData["Answer6"]</li>
<img src="@ViewData["Answer6Result"]" width="50" height="50" style="margin:5px" />
<p>The correct answer was: <b>C</b>, BOTH of the above</p>
<br />