@using AM_Assignment2.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Messages";
    AM_Assignment2.Helpers.UserQuery userQuery = new AM_Assignment2.Helpers.UserQuery();
    int groupID = userQuery.GetGroupByUserID(User.Identity.GetUserId());
    AM_Assignment2.Helpers.MessageQuery messageQuery = new AM_Assignment2.Helpers.MessageQuery();
    List<Message> inbox = messageQuery.GetInbox(User.Identity.Name, groupID); // Get messages that were sent to the logged in user
}
<li><a href="New">New message</a></li>
@if (User.IsInRole("Administrator") == true)
{
    <li><a href="Announcement">New group message</a></li>
}
<h2>Inbox</h2>
@foreach (Message message in inbox)
{
        <form action="ViewMessage" method="POST">
            @Html.AntiForgeryToken()
            <input type="hidden" value="@message.FromID" name="FromID" />
            <input type="hidden" value="@message.MessageSubject" name="MessageSubject"/>
            <input type="hidden" value="@message.MessageDate" name="MessageDate"/>
            <input type="hidden" value="@message.MessageBody" name="MessageBody"/>
            <button type="submit">
                @message.FromID<br/>
                @message.MessageSubject | @message.MessageDate <br/>
            </button>
        </form>
    <hr />
}
